

<table class="table table-striped table-hover">
    <thead>
        <tr>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Borrar</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articulo of articulos">
        <td>{{ articulo.Codigo }}</td>
        <td>{{ articulo.Descripcion | titlecase }}</td>
        <td>{{ articulo.Precio | currency }}</td>
        <td><button type="button" class="btn btn-danger" (click)="borrar(articulo)">Borrar</button></td>
        <td><button type="button" class="btn btn-secondary" (click)="seleccionar(articulo)">Seleccionar</button></td>
      </tr>
    </tbody>
  </table>
