<app-navbar [sideBar]="sideBar"></app-navbar>

<div class="container" style="margin-top: 20px;">

  <h1>Administración de artículos</h1>
  <!-- <app-tabla (articuloSeleccionadoEmitter)="seleccionarArticulo($event)"></app-tabla>
  <app-formulario [articulosSeleccionado]="articulosSeleccionado"></app-formulario> -->

  
  <app-sidebar #sideBar></app-sidebar>
  <!-- <button class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop" (click)="showSidebar()">Mostrar Sidebar</button> -->
  <router-outlet></router-outlet>

</div>