<h1>Administración de Proveedores</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
        <th>Id</th>
        <th>Codigo proveedor</th>
        <th>Razon social</th>
        <th>RFC</th>
        <th>Direccion</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proveedor of proveedores">
        <td>{{ proveedor.Id }}</td>
        <td>{{ proveedor.CodigoProveedor }}</td>
        <td>{{ proveedor.RazonSocial }}</td>
        <td>{{ proveedor.Rfc }}</td>
        <td>{{ proveedor.Direccion}}</td>
        <td>{{ proveedor.Email }}</td>
        <td><button type="button" class="btn btn-danger" (click)="borrar(proveedor)">Borrar</button></td>
        <td><button type="button" class="btn btn-secondary" (click)="seleccionar(proveedor)">Seleccionar</button></td>
      </tr>
    </tbody>
  </table>
